[submodule "vendor/CocoaAsyncSocket"]
	path = vendor/CocoaAsyncSocket
	url = git://github.com/pizthewiz/CocoaAsyncSocket.git
[submodule "node_modules/NodObjC"]
	path = node_modules/NodObjC
	url = git://github.com/TooTallNate/NodObjC.git
[submodule "node_modules/omgosc"]
	path = node_modules/omgosc
	url = git://github.com/deanm/omgosc.git
