[submodule "vendor/CocoaAsyncSocket"]
	path = vendor/CocoaAsyncSocket
	url = https://github.com/robbiehanson/CocoaAsyncSocket.git
[submodule "vendor/specta"]
	path = vendor/specta
	url = https://github.com/specta/specta.git
[submodule "vendor/expecta"]
	path = vendor/expecta
	url = https://github.com/specta/expecta.git
